*.class
# Package Files #
*.jar
*.war
*.ear

# removing traffic files
traffic/
# removing intellij specific files
*.iml
.idea
# removing content in the target folder
target/
!target/.gitkeep

*.csv
!sample_output/*.csv
